.App {
  position: relative;
  text-align: center;
  height: 97vh;
  width: 99vw;
  overflow: hidden;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
  height: 97vh;
}

.App-link {
  color: #61dafb;
}

.play-area {
  height: 100%;
}

.play-row {
  width: 100%;
}

.display-col {
  height: 100%;
}

.level0 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  /* border: 3px black solid; */
}

.level1-top {
  flex-grow: 2;
  display: flex;
  justify-content: space-around;
  /* border: 3px red solid; */
}

.level1-top-1 {
  flex-grow: 1;
  /* border: 3px black solid; */
}

.level1-top-2 {
  flex-grow: 1;
  /* border: 3px white solid; */
}

.level1-top-3 {
  flex-grow: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 3px black solid; */
}

.level1-top-3-1 {
  flex-grow: 8;
  /* border: 3px red solid; */
}

.level1-top-3-2 {
  flex-grow: 2;
  /* border: 3px yellow solid; */
}

.level1-top-4 {
  flex-grow: 1;
  /* border: 3px white solid; */
}

.level1-top-5 {
  flex-grow: 1;
  /* border: 3px black solid; */
}

.level1-middle {
  flex-grow: 6;
  display: flex;
  justify-content: space-around;
  /* border: 3px yellow solid; */
}

.level1-middle-1 {
  flex-grow: 9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 3px black solid; */
}

.level1-middle-1-1 {
  flex-grow: 1;
  /* border: 3px red solid; */
}

.level1-middle-1-2 {
  flex-grow: 1;
  /* border: 3px yellow solid; */
}

.level1-middle-2 {
  flex-grow: 1;

  justify-content: center;
  /* border: 3px white solid; */
}