.deck {
  background-color: #583031;
  min-height: 200px;
  min-width: 150px;
  width: 100px;
  display: flex;
}

.deck .number-of-cards {
  margin: auto;
  font-size: 5em;
  color: #ffc90e;
}
