/* Kind of a hack. Uses 2 classes to increase the specificity to override
 * the material-ui classes and set max-width to none for grid items when
 * direction is "column". See:
 * https://github.com/mui-org/material-ui/issues/13277
 */

.grid-col-item.no-max-width {
    width: 100%;
    max-width: none;
}

.grid-elem {
    border: 1px black solid;
}

@font-face {
    font-family: 'mtg';
    src: url('../fonts/magic-webfont.woff2') format('woff2'), url('../fonts/MAGIC.TTF') format('truetype'), url('../fonts/magic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}