.card-inner {
  margin: 3.1746% 3.9683% 3.1746% 3.9683%;
  height: 93.6508%;
  color: black;
  overflow: hidden;
  font-family: "Open Sans, sans-serif";  
}

.card-inner-play {
    margin: 3.1746% 3.9683% 3.1746% 3.9683%;
    height: 93.6508%;
    color: black;
    overflow: hidden;
    font-family: "Open Sans, sans-serif"; 
  }

.card-name {
  margin: 3.4483% 3.4483% 0 3.4483%;
  background-color: beige;
  overflow: hidden;
  height: 5.9524%;
  font-family: "Open Sans, sans-serif";
}

.small-card-name {
  margin: 3.4483% 3.4483% 0 3.4483%;
  background-color: beige;
  overflow: hidden;
  font-family: "Open Sans, sans-serif";
}

.card-image {
  margin: 1.6949% 3.4483% 0 3.4483%;
  overflow: hidden;
  height: 47.619%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

.card-type {
  margin: 1.6949% 3.4483% 0 3.4483%;
  background-color: beige;
  overflow: hidden;
  height: 5.9524%;
  font-family: "Open Sans, sans-serif";
}

.card-description {
  margin: 1.6949% 3.4483% 3.4483% 3.4483%;
  background-color: beige;
  overflow: auto;
  height: 32.1429%;
  font-family: "Open Sans, sans-serif";
}