.card-inner {
  margin: 3% 3% 3% 3%;
  height: 96%;
  color: black;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

.card-name {
  margin: 3.5% 3.5% 0 10.5%;
  background-color: beige;
  overflow: hidden;
  height: 6%;
  font-family: "Open Sans", sans-serif;
}

.small-card-name {
  margin: 3.5% 3.5% 0 3.5%;
  background-color: beige;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

.card-image {
  margin: 1.5% 3.5% 0 3.5%;
  overflow: hidden;
  height: 47.5%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.card-type {
  margin: 1.5% 3.5% 0 3.5%;
  background-color: beige;
  overflow: hidden;
  height: 6%;
  font-family: "Open Sans", sans-serif;
}

.card-description {
  margin: 1.5% 3.5% 3.5% 3.5%;
  background-color: beige;
  overflow: auto;
  height: 32%;
  font-family: "Open Sans", sans-serif;
}

.card-cost {
  position: absolute;
  top: 1%;
  left: 1%;
  max-width: 12%
}

.card-knowledge {
  position: absolute;
  top: 1%;
  left: 1%;
  max-width: 8%
}

.card-health {
  position: absolute;
  bottom: 0%;
  left: 1%;
  max-width: 13%
}

.card-shield {
  position: absolute;
  bottom: 0%;
  left: 13%;
  max-width: 12%
}

.card-loyalty {
  position: absolute;
  bottom: 0%;
  left: 25%;
  max-width: 12%
}

.card-cost-text {
  color: skyblue;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Special Elite", cursive;
}

.card-health-text {
  color: crimson;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Special Elite", cursive;
}

.card-shield-text {
  color: gold;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Special Elite", cursive;
}

.card-loyalty-text {
  color: blueviolet;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Special Elite", cursive;
}