.state-display {
  background-color: lightgreen;
  height: 100%;
}

.message-display {
  height: 100%;
  width: 100%;
}

.player-display {
  height: 100%;
  background-color: white;
  color: black;
}
